<section class="recipe">
  <%= form_for @recipe, html: {class: "form-horizontal", role: "form"} do |f| %>
    <%= f.hidden_field :copy_of_id %>

    <% if @recipe.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

        <ul>
        <% @recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, class: "control-label" %>
      <div>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :ingredients, class: "control-label" %>
      <div>
        <%= f.text_area :ingredients, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :instructions, class: "control-label" %>
      <div>
        <%= f.text_area :instructions, class: "form-control" %>
      </div>
    </div>

    <hr>

    <div class="form-group">
      <%= f.label :tags, class: "control-label" %>
      <div>
        <%= f.text_field :tags, value: @recipe.tags.pluck(:name).join(","), class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :source, class: "control-label" %>
      <div>
        <%= f.text_field :source, value: @recipe.source, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :servings, class: "control-label" %>
      <div>
        <%= f.text_field :servings, value: @recipe.servings, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <label for="photo_filename" class="control-label">Photo</label>
      <div>
        <label for="photo_filename" class="photo uploadable">
          <%= photo_of @recipe, id: "recipe_photo", placeholder: [480, 400] %>
          <input type="file" id="photo_filename" name="photo[filename]" />
        </label>
        <%= f.hidden_field :photo_id %>
      </div>
    </div>

    <div class="form-group">
      <br/><br/>
      <div>
        <% if @recipe.persisted? %>
          <%= link_to "Destroy", @recipe, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        <% end %>

        <button type="submit" class="btn btn-primary pull-right"><%= @recipe.persisted? ? "Update" : "Create" %> Recipe</button>
      </div>
    </div>
  <% end %>
</section>

<script type="text/javascript">
  $(function() {
    var tags = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.whitespace,
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      local: <%=raw @tags.to_json %>
    });

    $('#photo_filename').on('change', function(event) {
      var files = event.target.files;
      var data = new FormData();
      data.append('photo', files[0]);

      $.ajax({
        url: '/photos',
        type: 'POST',
        data: data,
        cache: false,
        dataType: 'json',
        processData: false, // Don't process the files
        contentType: false, // Set content type to false as jQuery will tell the server its a query string request
        success: function(data) {
          $('#recipe_photo').attr('src', data.url);
          $('#recipe_photo_id').val(data.id);
        }
      });
    });

    $('#recipe_tags').tagsinput({
      typeaheadjs: {
        source: tags
      }
    });
  });
</script>
