<h1>All Recipes</h1>

<%= form_tag all_recipes_path, method: :get, class: "search-form" do %>
  <div class="input-group" role="group">
    <%= text_field_tag :q, params[:q], autofocus: true, placeholder: search_placeholder, class: "form-control" %>
    <div class="input-group-append">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>
<% end %>

<% if @recipes.any? %>
  <ul class="recipes recipe-cards">
    <% @recipes.each do |recipe| %>

      <li class="recipe">
        <%= link_to recipe, class: "link-no-ui" do %>
          <div class="recipe-photo"><%= photo_of recipe %></div>
          <h3 class="recipe-name"><%= recipe.name %></h3>
          <p class="recipe-snippet"><%= snippet recipe %></p>
        <% end %>
        <%= source_of recipe %>
      </li>

    <% end %>
  </ul>
<% else %>
  <p>No results</p>
<% end %>

<script type="text/javascript">
  $(function() {
    $('#q').focus().select();
  });
</script>
