<h1>Recipes</h1>

<form method="get">
  <%= text_field_tag :q, params[:q], autofocus: true, class: "form-control" %>
</form>

<ul class="recipes">
  <% @recipes.each do |recipe| %>
    
    <li class="recipe">
      <span class="recipe-name"><%= link_to recipe.name, recipe %></span>
      <span class="recipe-tags"><%= tags recipe.tags %></span>
      <p class="recipe-snippet"><%= snippet recipe %></p>
      <%= ratings_for recipe %>
    </li>

  <% end %>
</ul>

<script type="text/javascript">
  $(function() {
    $('#q').focus().select();
  });
</script>
