<h1>
  My Recipes

  <% if can? :create, Recipe %>
    <% if mobile_app? %>
      <% content_for :meta do %>
        <link rel="mobile-navigation" href="<%= new_recipe_url %>" title="New Recipe" />
      <% end %>
    <% else %>
      <%= link_to "New Recipe", new_recipe_path, class: "btn btn-primary pull-right" %>
    <% end %>
  <% end %>
</h1>

<% if current_user.cookbook.recipes.exists? %>

  <form method="get" class="search-form">
    <%= text_field_tag :q, params[:q], autofocus: true, placeholder: "Search", class: "form-control" %>
    <fieldset class="search-filters">
      <%= radio_button :s, "a", "All my recipes", @filter %>
      <%= radio_button :s, "m", "Only recipes I've made before", @filter %>
      <%= radio_button :s, "n", "Only new recipes", @filter %>
    </fieldset>
  </form>

  <% if @recipes.any? %>
    <ul class="recipes">
      <% @recipes.each do |recipe| %>

        <li class="recipe <%=raw "recipe-new" if recipe.new_recipe? %>" id="recipe_<%= recipe.id %>" data-id="<%= recipe.id %>">
          <div class="recipe-row">
            <div class="recipe-photo"><%= photo_of recipe, link: true %></div>
            <div class="recipe-summary">
              <div class="recipe-preparation">
                <% unless recipe.new_recipe? %>
                  <%= average_rating_for recipe %>
                  <% if recipe.last_prepared_on %>
                    <div class="recipe-made"><%= last_preparation_of(recipe) %></div>
                  <% end %>
                <% end %>
              </div>

              <%= link_to recipe, class: "link-no-ui" do %>
                <h3 class="recipe-name">
                  <%= recipe.name %>
                  <% if recipe.new_recipe? %>
                    <span class="label label-new">New</span>
                  <% end %>
                </h3>
                <%= tags_for recipe %>
                <p class="recipe-snippet"><%= snippet recipe %></p>
              <% end %>
              <%= source_of recipe %>
            </div>
            <div class="recipe-menu-plan"></div>
          </div>
        </li>

      <% end %>
    </ul>
  <% else %>
    <p>No results</p>
  <% end %>

  <div id="recipe_drawer_wrapper"></div>

  <script type="text/javascript">
    document.addEventListener('turbolinks:load', function() {
      $('#q').focus().select();
    });
  </script>

<% else %>

  <div class="zero-recipes">
    <h2>Get Started!</h2>

    <p>
      Click <b><%= link_to "New Recipe", new_recipe_path %></b> to start typing in your favorite recipes—
    </p>

    <p>
      —or drag this bookmarklet <%= link_to "Add Recipe", bookmarklet_url, class: "bookmarklet" %> to your bookmarks bar so you can quickly save recipes from your favorite food blogs!
    </p>
  </div>

<% end %>
