<h1 class="snug">
  <%= @recipe.name %>
  <%= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-primary" if can? :update, @recipe %>
</h1>

<div class="recipe-author">
  Created by
  <%= avatar_for @recipe.created_by, size: 16 %>
  <b><%= @recipe.created_by.name %></b>
  <span class="recipe-created" title="<%= @recipe.created_at.strftime("%b %e %Y, %l:%M %p") %>"><%= time_ago_in_words @recipe.created_at %> ago</span>
</div>

<%= metrics_for @recipe %>

<%= tags @recipe.tags %>

<h4>Ingredients</h4>
<ul class="ingredients">
  <% @recipe.ingredients.to_s.split(/\n/).each do |ingredient| %>
    <li class="ingredient"><%= ingredient %></li>
  <% end %>
</ul>

<h4>Instructions</h4>
<div class="instructions">
  <%= mdown @recipe.instructions %>
</div>
