<section class="recipe" id="recipe_<%= @recipe.id %>" data-id="<%= @recipe.id %>">
  <% if can?(:create, Recipe) && !current_user.owns?(@recipe) %>
    <%= link_to "Add to My Recipes", new_recipe_path(recipe_id: @recipe.id), class: "btn btn-primary pull-right" %>
  <% end %>

  <%= photo_of @recipe %>

  <h1 class="snug">
    <%= @recipe.name %>
  </h1>

  <div class="recipe-metadata">
    <div>
      <span class="recipe-author">Added by <%= describe_user @recipe.created_by %></span> <span class="recipe-created" title="<%= @recipe.created_at.strftime("%b %e %Y, %l:%M %p") %>"><%= time_ago_in_words @recipe.created_at %> ago</span>
    </div>

    <div class="recipe-menu-plan"></div>

    <div class="recipe-made">
      <%= last_preparation_of @recipe, link_to: "#history" %>
    </div>

    <% unless @recipe.source.blank? %>
      <p class="recipe-source"><%= format_source @recipe.source %></p>
    <% end %>
  </div>

  <%= tags @recipe.tags %>

  <h4>Ingredients</h4>
  <ul class="ingredients">
    <% @recipe.ingredients.to_s.split(/\n/).each do |ingredient| %>
      <li class="ingredient"><%= ingredient %></li>
    <% end %>
  </ul>

  <h4>Instructions</h4>
  <div class="instructions">
    <%= mdown @recipe.instructions %>
  </div>

  <% unless @recipe.servings.blank? %>
    <p>Servings: <%= @recipe.servings %></p>
  <% end %>

  <% if can? :update, @recipe %>
    <% if mobile_app? %>
      <% content_for :meta do %>
        <link rel="mobile-navigation" href="<%= edit_recipe_url(@recipe) %>" title="Edit" />
      <% end %>
    <% else %>
      <%= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-primary btn-sm"  %>
    <% end %>
  <% end %>

  <% if current_user %>
    <h4>Ratings</h4>
    <%= ratings_for @recipe %>

    <h4 id="history">History</h4>

    <% if can?(:update, @recipe) %>
      <div class="dropdown">
        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="add_preparation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          I made this
        </button>
        <div class="dropdown-menu" aria-labelledby="add_preparation">
          <%= form_tag recipe_preparations_url(@recipe), class: "preparation-form" do %>
            <div class="datepicker-container" for="preparation_date"></div>
            <input type="hidden" name="prepared_on" id="preparation_date" value="<%= Date.today %>" />

            <textarea name="comments" id="preparation_comments" placeholder="Comments" class="form-control"></textarea>

            <button class="btn btn-primary btn-sm pull-right">Save</button>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if @recipe.preparations.empty? %>
      <p>Haven't made this recipe</p>
    <% else%>
      <ol class="recipe-history">
        <% @recipe.preparations.each do |preparation|
          date = preparation.prepared_on %>

          <li class="recipe recipe-history">
            <div class="recipe-history-date date">
              <span class="weekday"><%= date.strftime("%a") %></span>
              <span class="month"><%= date.strftime("%b") %></span>
              <span class="day"><%= date.strftime("%-d") %></span>
              <span class="year"><%= date.strftime("%Y") %></span>
            </div>

            <div class="recipe-history-comments">
              <%= preparation.comments %>
            </div>
          </li>
        <% end %>
      </ol>
    <% end %>

  <% end %>


  <%= microformat @recipe %>
</section>
