<nav class="navbar fixed-top navbar-light bg-dark justify-content-end">
  <div class="container">
    <div class="mr-auto p2">
      <%= link_to (current_user ? my_recipes_path : root_path), class: "navbar-brand" do %>
      <span class="fa fa-cutlery"></span>
      <span class="brand-name">Recipes</span>
      <% end %>
    </div>

    <% if current_user %>
      <div class="p2">
        <a class="btn" href="#">
          <%= current_user.current_menu_plan.name %> <span class="badge badge-secondary">4</span>
        </a>
      </div>
    <% end %>

    <div class="p2">
      <% if current_user -%>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= avatar_for(current_user, size: 36) %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Sign out", destroy_session_path, class: "dropdown-item" %>
        </div>
      </div>
      <% else -%>
      <%= link_to "Sign in", new_session_path %>
      <% end -%>
    </div>
  </div>
</nav>
